<h2><%= @book.title %><a href ="/books/<%= @book.id%>/edit">(edit)</a></h2>

<img class = "book-photo" src="<%= @book.photo_url%>">

<div class="book-content">
    <p><span>Title:</span> <%= @book.title %></p>
    <p><span>Author:</span> <%= @book.author %>
    <p><span>Read:</span> <%= @book.has_read %></p>
</div>

<h3>Comments</h3>

<% @comments.each do |comment| %>
  <p> Subject: <%= comment.subject %> </p>
  <p> Added: <%= comment.created_at.strftime("%b %d %y") %> </p>
  <p> <%= comment.body %> </p>
  <%= link_to "Edit Comment", edit_book_comment_path(@book, comment) %>

<% end %>

<h3>Leave a comment:</h3>
<%= render partial: "comments/form" %>
