<!DOCTYPE html>
<html>
<head>
  <title>Bookworm</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class = "nav">
<ul>
  <% if user_signed_in? %>
    <li><%= link_to "All Books", root_path %></li>
    <li><%= link_to "Currently Reading", books_path(:request_type => 'reads') %></li>
      <li>
    <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
  <% else %>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Login", new_user_session_path %></li>
  <% end %>
</ul>
</div>
<div class="container">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>

</div>
</body>
</html>
